[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
invoke = "*"
"flake8" = "*"
pytest = "*"
pytest-cookies = "*"
"pathlib2" = {version = "*", marker = "python_version < 3" }
cookiecutter-repo-extensions = "*"

[dev-packages]
"autopep8" = "*"
pdbpp = "*"

[requires]
python_version = "3.7"
